@import url("reset.css");

//border-box
* { box-sizing: border-box; }

$background-color: #F4F1E9;
$secondary-text-color: darken(#c9c9c9, 50);

body{
  line-height: 1.5;
  background-color: $background-color;

}
li{
  list-style: none;
 }



//carousel
.jumbotron{
  display: flex;
  justify-content: center;
}
.carousel {
    display:flex;
    .carousel-image {
      height: 40vmax;
      width: 80vmax;
    }
     button {
      border: none;
      height: 40vmax;
    }
  }
//end carousel

//navbar
.nav-center-container{
}

.navbar{
  display: flex;
  justify-content: center;
  position: relative;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  background-color: darken($background-color, 30);


  li{
    display: inline;  
    cursor: pointer;  
    color: $secondary-text-color;
    

  }
  .logo-item{
    position: absolute;
    left: 0;
  }
  .shopping-cart-item{
    position: absolute;
    right: 0;
  }
}
//end navbar



 .panel{
  cursor: pointer;
  text-align: center;
 }

 .map-ul{
  cursor: pointer;
 }

.email-form-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

}
.products-heading-container{
  display: flex;
  text-align: center;
}

.panel-container{
  display: flex;
  justify-content: space-between;
}

.sign-up-container{
    display: flex;
    text-align: center;
}

footer {
    color: $secondary-text-color;

}